CompileFlags:
  Add:
    - -isystemD:\newkeil\ARM\ARMCLANG/include
    - -isystemD:\newkeil\ARM\ARMCLANG/include/libcxx
  Remove: []
  CompilationDatabase: ./build/M0G3519_nortos_keil
  Compiler: D:\newkeil\ARM\ARMCLANG\bin\armclang.exe
